asyncgui==0.6.1
asynckivy==0.6.2
certifi==2024.2.2
charset-normalizer==3.3.2
docutils==0.20.1
exceptiongroup==1.2.0
idna==3.6
Kivy==2.3.0
Kivy-Garden==0.1.5
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip
materialyoucolor==2.0.5
pillow==10.2.0
Pygments==2.17.2
requests==2.31.0
urllib3==2.2.0
