Adafruit-Blinka==8.32.0
adafruit-circuitpython-ads1x15==2.2.25
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-requests==2.0.5
adafruit-circuitpython-typing==1.10.0
Adafruit-PlatformDetect==3.60.0
Adafruit-PureIO==1.1.11
asyncgui==0.6.1
asynckivy==0.6.2
certifi==2024.2.2
charset-normalizer==3.3.2
docutils==0.20.1
exceptiongroup==1.2.0
idna==3.6
Kivy==2.3.0
Kivy-Garden==0.1.5
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip
materialyoucolor==2.0.6
pillow==10.2.0
pyftdi==0.55.0
pygments==2.17.2
pyserial==3.5
pyusb==1.2.1
requests==2.31.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
sysv-ipc==1.1.0
typing-extensions==4.9.0
urllib3==2.2.0
